<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1049936970203-68dubs3uts841lhthobg044so3qmpu95</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>1049936970203-68dubs3uts841lhthobg044so3qmpu95.apps.googleusercontent.com</string>
	<key>UIAppFonts</key>
	<array>
		<string>Lexend-Regular.ttf</string>
		<string>Lexend-Bold.ttf</string>
		<string>Lexend-SemiBold.ttf</string>
		<string>JetBrainsMono-Regular.ttf</string>
		<string>JetBrainsMono-Bold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>fetch</string>
	</array>
</dict>
</plist>
